.d1
{
    
    border: 1;
    height: 150px;
    width: 200px;
    background-color: #f5a623;
    color: black;
    text-align: center;
    padding: 70px 20px;
    display: inline-block;
    margin-top: 5%;
    border-radius: 10px;
    margin-left: 23%;
}
.d1:hover
{
    box-shadow: 1px 1px 30px #f5a623;
}
.b1
{
    border: none;
    background-color:#f5a623;
}
.b1:hover
{
    color:white;
    
}
.footer
{
    margin-bottom: 50%;
}
.none
{
    border: none;
    height:150px;
}
h1
{
    color:white;
    text-align: center;
    margin-top:30px;
}
.dropbtn {
    background-color:  #567086;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display:block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #625e5e;
    color:white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: orange;
}

.shadow1:hover
{
    box-shadow: 1px 3px 18px orange;
}

.about1:hover
{
    box-shadow: 1px 1px 10px black;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}